*,
*::before,
*::after { 
    box-sizing: border-box; 
}

/* Custom Properties */

/* General */
:root {
    /* Font */ 
    --ff-primary: 'Source Sans Pro', sans-serif;  
    --ff-secondary: 'Source Code Pro', monospace; 

    /* Font Weight */ 
    --fw-reg: 300; 
    --fw-bold: 900; 

    /* Color Background */ 
    --clr-light: #fff; 
    --clr-dark: #303030;
    --clr-accent: #16e0bd; 

    /* Font sizes */ 
    --fs-h1: 3rem; 
    --fs-h2: 2.25rem; 
    --fs-h3: 1.25rem; 
    --fs-body: 1rem; 

    /* Box shadow */ 
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25); 
}

/* For differnet screen size -General*/ 
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem; 
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1rem;
    }
}

/* General Body Style */ 
body {
    background: var(--clr-light); 
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--ff-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em; 
}

img {
    display: block; 
    max-width: 85%; 
}

strong { font-weight: var(--fw-bold);}

:focus {
    outline: 3px solid var(--fw-bold);
    outline-offset: 3px;
}

/* Button */ 
.button {
    display: inline-block; 
    padding: 0.5em 10.5em; 
    background: var(--clr-accent); 
    color: var(--clr-dark);
    text-decoration: NONE;
    cursor: pointer; 
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px; 
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out; 
    margin-top: 50px;
}

/* Button animation when hovered over */ 
.button:hover {
    transform: scale(1.1); 
}

/* Typography */ 
h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1)}; 
h2 { font-size: var(--fs-h2)};
h3 { font-size: var(--fs-h3)};

/* section__titles -General */ 
.section__title {
    margin-bottom: 0.25rem; 
}

/* section__titles--intro - General */ 
.section__title--intro {
    font-size: var(--fs-h1);
    font-weight: var(--fw-reg); 
}

/* section__titles--intro strong - General */
.section__title--intro strong {
    display: block; 
    background: var(--clr-accent); 
    padding: 0em 1em; 
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/* section__subtitles - General */
.section__subtitle {
    margin: 0; 
    font-size: var(--fs-h3);
}

/* section__subtitles--intro - General */
.section__subtitle--intro {
}

/* Header - General */ 
nav {display: none; }

/* Intro section */ 
.intro {
    position: relative; 
}

.intro__img { 
    box-shadow: var(--bs); 
}

.typewriter { 
    overflow: hidden;
    border-right: 0.1em solid black;
    white-space: nowrap; 
    margin-right: 0 auto;  
    letter-spacing: 0.05em; 
    animation: 
        typing 2.5s steps(25, end), 
        blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {width:0}
    to {width:100%}
}

@keyframes blink-caret { 
    from, to {border-color:transparent}
    50% {border-color: black}
}

/* intro section when the window size is adjusted */
@media (min-width: 600px) {
    .intro {
        display: grid; 
        width: min-content; 
        margin: 0 auto; 
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img; 
        min-width: 250px; ;
        position: relative; 
        z-index: 2; 
    }

    .section__subtitle--intro {
        align-self: start; 
        grid-column: -1/1; 
        grid-row: 2; 
        text-align: right; 
        position: relative; 
        left: -1.5em; 
        width: calc(100% + 1.5em); 

    }
}
/* My projects section */ 
.projects { 
    background-color: var(--clr-dark);
    background-image: url(../images/coding.jpg); 
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center; 
}

.section__title--projects {
    position: relative; 
    color: var(--clr-accent); 
}

@media (min-width: 800px) {
    .project-list {
        position: relative; 
        display: flex;
        justify-content: center;
        justify-content: space-evenly; 
        margin-top: 0; 
        margin-right: 4em; 
    }

    .project {
        display: flex; 
        flex-direction: column;
        width: 350px; 
        justify-content: space-evenly, center; 
        margin-left: 4.5em;  
    }

    .project + .project {
        margin-left: 3em;
    }
}

/* About Section */ 
.about-me {
    background-color: var(--clr-dark);
    background-image: url(../images/taipei_skyline.jpg); 
    background-size: cover;
    background-blend-mode: multiply; 
    color: var(--clr-light); 
    text-align: center;
}

.section__title--about {
    color: var(--clr-accent); 
    position: relative; 
}

/* Putting the line after About Me */ 
.section__title--about::after, .section__title--projects::after {
    content: '';
    display: block; 
    width: 3em; 
    height: 1px; 
    margin: 0.5em auto 1em; 
    background: var(--clr-light);
    opacity: 0.5; 
}

.about-me-flex-container {
    display: flex; 
    flex-direction: row;
    width: 700px; 
    justify-content: center;
}

/* My work section  */
.my-work {
    background-color: var(--clr-light); 
    color: var(--clr-dark); 
    text-align: center;
}
.section__title--my-work {
    color: var(--clr-accent); 
    position: relative; 
}

.section__title--my-work::after {
    content: '';
    display: block; 
    width: 3em; 
    height: 1px; 
    margin: 0.5em auto 1em; 
    background: var(--clr-dark);
    opacity: 0.5; 
}
