*,
*::before,
*::after { 
    box-sizing: border-box; 
}

/* Custom Properties */

/* General */
:root {
    /* Font */ 
    --ff-primary: 'Source Sans Pro', sans-serif;  
    --ff-secondary: 'Source Code Pro', monospace; 

    /* Font Weight */ 
    --fw-reg: 300; 
    --fw-bold: 900; 

    /* Color Background */ 
    --clr-light: #fff; 
    --clr-dark: #303030;
    --clr-accent: #16e0bd; 

    /* Font sizes */ 
    --fs-h1: 3rem; 
    --fs-h2: 2.25rem; 
    --fs-h3: 1.25rem; 
    --fs-body: 1rem; 

    /* Box shadow */ 
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25); 
}

html {
    scroll-behavior: smooth;
}

/* For differnet screen size -General*/ 
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem; 
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1rem;
    }
}

/* General Body Style */ 
body {
    background: var(--clr-light); 
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--ff-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em; 
}

img {
    display: block; 
    max-width: 85%; 
}

strong { font-weight: var(--fw-bold);}

:focus {
    outline: 3px solid var(--fw-bold);
    outline-offset: 3px;
}

/* Button */ 
.button {
    display: inline-block; 
    padding: 0.5em 5.5em; 
    background: var(--clr-accent); 
    color: var(--clr-dark);
    text-decoration: NONE;
    cursor: pointer; 
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px; 
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out; 
    margin-top: 50px;
}

/* Button animation when hovered over */ 
.button:hover {
    transform: scale(1.1); 
}

/* Wave animation  */
span.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    transform-origin: 70% 70%;
    display: inline-block; 
}

@keyframes wave-animation {
    0% {
      transform: rotate(0deg); }
    10% {
      transform: rotate(-10deg); }
    20% {
      transform: rotate(12deg); }
    30% {
      transform: rotate(-10deg); }
    40% {
      transform: rotate(9deg); }
    50% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(0deg); } 
}

/* Typography */ 
h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1)}; 
h2 { font-size: var(--fs-h2)};
h3 { font-size: var(--fs-h3)};

/* section__titles -General */ 
.section__title {
    margin-bottom: 0.25rem; 
}

/* section__titles--intro - General */ 
.section__title--intro {
    font-size: var(--fs-h1);
    font-weight: var(--fw-reg); 
}

/* section__titles--intro strong - General */
.section__title--intro strong {
    display: block; 
    background: var(--clr-accent); 
    padding: 0em 1em; 
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/* section__subtitles - General */
.section__subtitle {
    margin: 0; 
    font-size: var(--fs-h3);
}

/* section__subtitles--intro - General */
.section__subtitle--intro {
}

/* Hamburger */ 
.logo {
    display: inline-block;
    cursor: pointer;
    margin-left: 1em;
    margin-top: 1em;
    z-index: 1000; 
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--clr-dark);
    margin: 6px 0;
    transition: 0.2s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: var(--clr-accent);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); 
    background-color: var(--clr-accent);
}

/* Navigation */ 
.nav {
   position: fixed; 
   background: var(--clr-dark); 
   top: 0; 
   bottom: 0; 
   left: 0; 
   right: 0;
   z-index: 10; 
   
   transform: translateX(100%);
   transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1); 
}

.nav__list {
    list-style: none; 
    display: flex; 
    height: 100%; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    margin: 0; 
    padding: 0; 
}

.nav__link {
    color: var(--clr-light); 
    font-weight: var(--fw-bold); 
    font-size: var(--fs-h2);
    text-decoration: none; 
}

.nav__link:hover {
    color: var(--clr-accent); 
}

.nav-open .nav{
    transform: translateX(0); 
}

.no-scroll .nav-open {
    overflow: hidden; 
    position: fixed; 
}

.nav-open .logo {
    position: fixed; 
}
/* Intro section */ 
.intro {
    position: relative; 
}

.intro__img { 
    box-shadow: var(--bs); 
}

/* Typing animation  */
.typewriter { 
    overflow: hidden;
    border-right: 0.1em solid black;
    white-space: nowrap; 
    margin-right: 0 auto;  
    letter-spacing: 0.05em; 
    animation: 
        typing 2s steps(25, end), 
        blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {width:0}
    to {width:100%}
}

@keyframes blink-caret { 
    from, to {border-color:transparent}
    50% {border-color: black}
}

/* intro section when the window size is adjusted */
@media (min-width: 600px) {
    .intro {
        display: grid; 
        width: min-content; 
        margin: 0 auto; 
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img; 
        min-width: 250px; ;
        position: relative; 
        z-index: 2; 
    }

    .section__subtitle--intro {
        align-self: start; 
        grid-column: -1/1; 
        grid-row: 2; 
        text-align: right; 
        position: relative; 
        left: -1.5em; 
        width: calc(100% + 1.5em); 

    }
}

/* Experience titles  */
.experience-title {
    text-align: center;
    position: relative; 
}

.job-title { 
    color: var(--clr-accent);
    font-weight: 600;
    text-align: center;
}

/* My projects section */ 
.projects { 
    background-color: var(--clr-dark);
    background-image: url(../images/coding.jpg); 
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center; 
}

.section__title--projects {
    position: relative; 
    color: var(--clr-accent); 
}

@media (min-width: 800px) {
    .project-list { 
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0; 
    }

    .project {
        width: 350px;   
        text-align: start;
    }

    .project + .project {
        margin-left: 3em;
    }
}

/* Tags under project titles */ 
.tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tag-itself {
    background-color: var(--clr-accent);
    color: var(--clr-dark); 
    font-size: 0.75em;
    font-weight: var(--fw-bold);
    justify-content: center;
    margin: 0.5em; 
    padding: 0.1em 0.5em;
    letter-spacing: 0.1px; 
    margin-bottom: 0em;
    margin-top: 1.5em; 
    
}

/* About Section */ 
.about-me {
    background-color: var(--clr-dark);
    background-image: url(../images/taipei_skyline.jpg); 
    background-size: cover;
    background-blend-mode: multiply; 
    color: var(--clr-light); 
    text-align: center;
}

.section__title--about {
    color: var(--clr-accent); 
    position: relative; 
}

/* Putting the line after About Me and Projects */ 
.section__title--about::after, .section__title--projects::after {
    content: '';
    display: block; 
    width: 3em; 
    height: 1px; 
    margin: 0.5em auto 1em; 
    background: var(--clr-light);
    opacity: 0.5; 
}

@media (min-width: 800px) {
    .about-me-flex-container {
        position: relative; 
        display: flex; 
        flex-direction: row;
        justify-content: center; 
    }
    .about-me-text {
        width: 350px; 
        text-align: start;
    }

    .about-me-text + .about-me-text {
        margin-left: 3em;
    }
}

/* My work section  */
.my-work {
    background-color: var(--clr-light); 
    color: var(--clr-dark); 
    text-align: center;
}
.section__title--my-work {
    color: var(--clr-accent); 
    position: relative; 
    text-align: center;
}

.section__title--my-work::after {
    content: '';
    display: block; 
    width: 3em; 
    height: 1px; 
    margin: 0.5em auto 1em; 
    background: var(--clr-dark);
    opacity: 0.5; 
}

@media (min-width: 800px) {
    .job-descriptions {
        position: relative; 
        display: flex;
        flex-direction: row;
        justify-content: center;  
        margin-top: 0; 
    }

    .job {
        width: 350px; 
        text-align: start;
    }

    .job + .job {
        margin-left: 3em;
    }
}

/* Footer section */
.footer {
    background-color: var(--clr-light);
    padding: 3em; 
    display: flex; 
    flex-direction: row; 
    justify-content: center;
}

.footer-icon-sizing {
    width:30px;
    height:25px;
    border:0;
}

.footer-icon-sizing:hover {
    transform: scale(1.1);
}

.footer-logo{
    display: inline-block; 

}

.footer-logo .footer-logo {
    margin-left: auto;
}